<div class="base">
  <div class="logo">
    <img src="../assets/img/logo.jpg" alt="logo" />
  </div>
  <div class="info">
    <p>Fit and Drum in Amsterdam!</p>
    <p align="center">
      Soon you're gonna be able to book a lesson and get more information here!
    </p>
    <p>For now, please, check our social media</p>
    <p>See ya!</p>
    <p>❤️</p>
  </div>
  <div>
    <a href="https://www.facebook.com/profile.php?id=100086251544742" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/fitanddrum/" class="fa fa-instagram"></a>
  </div>
  <div></div>
</div>
